<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
  </head>
  <body>
    <p><a href="/add">Add user</a></p>
    <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
